<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jodiakyulas.bloodbankers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".control.StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".control.MainActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.LoginActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.RegisterActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.AppointmentActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.BloodBankDetailsActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>


        <activity android:name=".control.ChooseAppointmentTimingActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>

        <activity android:name=".control.ConfirmAppointmentActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>

        <activity android:name=".control.ViewCurrentAppointmentActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.ViewAppointmentHistoryActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.MobileBloodDriveActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.ForgetPasswordActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.EnterPasscodeActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.ChangePasswordActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.PointsRedemptionActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <activity android:name=".control.RedemptionDetailActivity">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

            </intent-filter>
        </activity>
        <service android:name=".control.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>



</manifest>